<section class = 'feedback_box'>
	<div class = 'feedback_box_holder'>
		<div class = 'feedback_form'>
			<h4>Напишите нам</h4>

			<form class="form-horizontal">
			  <div class="control-group">
			    <div class="controls">
			      <input type="text" id="inputName" placeholder="Введите ваше имя" required>
			    </div>
			  </div>

			  <div class="control-group">
			    <div class="controls">
			      <input type="email" id="inputEmail" placeholder="Введите вашу почту" required>
			    </div>
			  </div>

				<div class="control-group">
			  	<div class="controls">
			      <input type="text" id="inputText" placeholder="Введите сообщение" required>
			    </div>
			  </div>

			  <button type="submit" class="btn">Отправить сообщение<span><img src="img/arrow2.png" alt = ''></span></button>

			</form>
		</div>
	</div>
</section>