<footer id = 'footer'>
	<div class = 'header_holder'>
		<div class = 'logo'>
			<a href="#">
				НАЗВАНИЕ КОМПАНИИ
				<p>организация <span>индивидуальных</span> путешествий</p>
			</a>
		</div>

		<div class = 'nav_holder'>
			<ul class = 'nav'>
				<li><a href="#">О нас</a></li>
				<li><a href="#">Направления</a></li>
				<li><a href="#">Идеи путешествий</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>

			<div class = 'phone_box'>
				<a href="#">+7 (485) 999-99-99</a>
			</div>
		</div>
	</div>
</footer>