<section class = 'popular_places_box' id = 'popular_places_box'>
	<div class = 'popular_places_box_holder'>
		<h2>Популярные направления</h2>

		<div class = 'info_box'>

			<div class = 'info_section'>
				<div class = 'fotobox'>
					<div class = 'line1'>
						<a href="#"><img src="img/popular_big_img_01.png" alt = 'popular_big_img'></a>
					</div>
					<div class = 'line2'>
						<a href="#"><img src="img/popular_small_img_01.png" alt = 'popular_big_img'></a>
						<a href="#"><img src="img/popular_small_img_02.png" alt = 'popular_big_img'></a>
						<a href="#"><img src="img/popular_small_img_03.png" alt = 'popular_big_img'></a>
					</div>
				</div>

				<div class = 'text_box'>
					<h5><a href="#">Европа</a></h5>
					<p>Значимость этих проблем настолько очевидна, что консультация <span>с широким активом процесс внедрения.</span></p>
					<a class = 'choice' href="#">Выбрать направление <span><img src="img/arrow2.png" alt = ''></span></a>
				</div>
			</div>

			<div class = 'info_section'>
				<div class = 'fotobox'>
					<div class = 'line1'>
						<a href="#"><img src="img/popular_big_img_02.png" alt = 'popular_big_img'></a>
					</div>
					<div class = 'line2'>
						<a href="#"><img src="img/popular_small_img_01.png" alt = 'popular_big_img'></a>
						<a href="#"><img src="img/popular_small_img_02.png" alt = 'popular_big_img'></a>
						<a href="#"><img src="img/popular_small_img_03.png" alt = 'popular_big_img'></a>
					</div>
				</div>

				<div class = 'text_box'>
					<h5><a href="#">Азия</a></h5>
					<p>Значимость этих проблем настолько очевидна, что консультация <span>с широким активом процесс внедрения.</span></p>
					<a class = 'choice' href="#">Выбрать направление <span><img src="img/arrow2.png" alt = ''></span></a>
				</div>
			</div>

			<div class = 'info_section'>
				<div class = 'fotobox'>
					<div class = 'line1'>
						<a href="#"><img src="img/popular_big_img_03.png" alt = 'popular_big_img'></a>
					</div>
					<div class = 'line2'>
						<a href="#"><img src="img/popular_small_img_01.png" alt = 'popular_big_img'></a>
						<a href="#"><img src="img/popular_small_img_02.png" alt = 'popular_big_img'></a>
						<a href="#"><img src="img/popular_small_img_03.png" alt = 'popular_big_img'></a>
					</div>
				</div>

				<div class = 'text_box'>
					<h5><a href="#">Африка</a></h5>
					<p>Значимость этих проблем настолько очевидна, что консультация <span>с широким активом процесс внедрения.</span></p>
					<a class = 'choice' href="#">Выбрать направление <span><img src="img/arrow2.png" alt = ''></span></a>
				</div>
			</div>

			<div class = 'info_section'>
				<div class = 'fotobox'>
					<div class = 'line1'>
						<a href="#"><img src="img/popular_big_img_04.png" alt = 'popular_big_img'></a>
					</div>
					<div class = 'line2'>
						<a href="#"><img src="img/popular_small_img_01.png" alt = 'popular_big_img'></a>
						<a href="#"><img src="img/popular_small_img_02.png" alt = 'popular_big_img'></a>
						<a href="#"><img src="img/popular_small_img_03.png" alt = 'popular_big_img'></a>
					</div>
				</div>

				<div class = 'text_box'>
					<h5><a href="#">Америка</a></h5>
					<p>Значимость этих проблем настолько очевидна, что консультация <span>с широким активом процесс внедрения.</span></p>
					<a class = 'choice' href="#">Выбрать направление <span><img src="img/arrow2.png" alt = ''></span></a>
				</div>
			</div>

			<div class = 'info_section'>
				<div class = 'fotobox'>
					<div class = 'line1'>
						<a href="#"><img src="img/popular_big_img_05.png" alt = 'popular_big_img'></a>
					</div>
					<div class = 'line2'>
						<a href="#"><img src="img/popular_small_img_01.png" alt = 'popular_big_img'></a>
						<a href="#"><img src="img/popular_small_img_02.png" alt = 'popular_big_img'></a>
						<a href="#"><img src="img/popular_small_img_03.png" alt = 'popular_big_img'></a>
					</div>
				</div>

				<div class = 'text_box'>
					<h5><a href="#">Австралия</a></h5>
					<p>Значимость этих проблем настолько очевидна, что консультация <span>с широким активом процесс внедрения.</span></p>
					<a class = 'choice' href="#">Выбрать направление <span><img src="img/arrow2.png" alt = ''></span></a>
				</div>
			</div>

			<div class = 'info_section'>
				<div class = 'fotobox'>
					<div class = 'line1'>
						<a href="#"><img src="img/popular_big_img_06.png" alt = 'popular_big_img'></a>
					</div>
					<div class = 'line2'>
						<a href="#"><img src="img/popular_small_img_01.png" alt = 'popular_big_img'></a>
						<a href="#"><img src="img/popular_small_img_02.png" alt = 'popular_big_img'></a>
						<a href="#"><img src="img/popular_small_img_03.png" alt = 'popular_big_img'></a>
					</div>
				</div>

				<div class = 'text_box'>
					<h5><a href="#">Россия	</a></h5>
					<p>Значимость этих проблем настолько очевидна, что консультация <span>с широким активом процесс внедрения.</span></p>
					<a class = 'choice' href="#">Выбрать направление <span><img src="img/arrow2.png" alt = ''></span></a>
				</div>
			</div>



		</div>
	</div>
</section>