<section class = 'sale_box' id = 'sale'>
	<div class = 'sale_box_holder'>
		<div class = 'sale_box_foto'>
			<a href="#"><img src="img/sale_box_img.png" alt = 'sale_box_img'></a>
		</div>

		<div class = 'sale_box_text'>
			<h6><a href="#">Россия</a></h6>
			<p>Значимость этих проблем настолько очевидна, что консультация с широким активом процесс внедрения модернизации модели развития.</p>
			<span class = 'choise_mob'>Выбрать направление<img src="img/arrow2.png" alt = ''></span>
		</div>
		<span class = 'popular'>Направление месяца</span>
		<span class = 'popular_mob'>Популярное</span>

	</div>
</section>