<section class = 'why_us_box'>
	<div class = 'why_us_box_holder'>
		<h2>Что мы можем вам предложить</h2>
		<div class = 'why_us_section'>
			<div class = 'why_us_item'>
				<img src="img/why_us_icon_01.png" alt = 'why_us_icon'>
				<h6>Много актуальной <br>и полезной информации</h6>
				<p>Значимость этих проблем настолько очевидна, что консультация с широким активом процесс внедрения.</p>
			</div>

			<div class = 'why_us_item'>
				<img src="img/why_us_icon_02.png" alt = 'why_us_icon'>
				<h6>Необычные направления <br>для путешествий</h6>
				<p>Значимость этих проблем настолько очевидна, что консультация с широким активом процесс внедрения.</p>
			</div>

			<div class = 'why_us_item'>
				<img src="img/why_us_icon_03.png" alt = 'why_us_icon'>
				<h6>Составление маршрутов любой <br>сложности под ваш запрос</h6>
				<p>Значимость этих проблем настолько очевидна, что консультация с широким активом процесс внедрения.</p>
			</div>
		</div>
	</div>
</section>